body {
    background-color: black;
    background-image: url(/images/backround\ -\ section\ 01.png);
    height: 100vh;
}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}